<div class="flex flex-col p-4 md:p-8 gap-4 md:gap-8">
  <h1
    [ngStyle]="{
      color: registerForm.invalid ? 'var(--color-accent-700)' : 'var(--color-primary-700)',
    }"
    class="text-3xl font-bold underline text-center text-shadow-md"
  >
    {{ title }}
  </h1>
  <p class="text-accent-700 text-sm text-center">
    {{ description }}
  </p>
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    class="flex flex-col p-4 md:py-8 md:px-48 gap-4 md:gap-8"
  >
    <label for="name" class="text-primary-700 font-bold text-lg text-shadow-md">Nombre</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      class="border border-gray-300 rounded-md p-2"
      [ngClass]="{
        'border-red-500': isInvalid('name'),
      }"
    />
    @if (errorMessage('name'); as error) {
      <p class="text-accent-700 text-sm">{{ error }}</p>
    }

    <label for="email" class="text-primary-700 font-bold text-lg text-shadow-md">Email</label>
    <input
      type="email"
      id="email"
      formControlName="email"
      class="border border-gray-300 rounded-md p-2"
      [ngClass]="{
        'border-red-500': isInvalid('email'),
      }"
    />
    @if (errorMessage('email'); as error) {
      <p class="text-accent-700 text-sm">{{ error }}</p>
    }

    <label for="message" class="text-primary-700 font-bold text-lg text-shadow-md">Mensaje</label>
    <input
      type="text"
      id="message"
      formControlName="message"
      class="border border-gray-300 rounded-md p-2"
      [ngClass]="{
        'border-red-500': isInvalid('message'),
      }"
    />
    @if (errorMessage('message'); as error) {
      <p class="text-accent-700 text-sm">{{ error }}</p>
    }
    <button
      [disabled]="registerForm.invalid"
      [ngClass]="{
        'cursor-not-allowed! bg-gray-500! opacity-60 text-black!': registerForm.invalid,
      }"
      class="bg-primary-500 text-white rounded-md p-2 cursor-pointer font-bold md:w-1/6 mx-auto"
    >
      Enviar
    </button>
  </form>
</div>
